.besked-oversigt {
    width: 80%;
    margin: 20px auto;
}

    .besked-oversigt th:first-child,
    .besked-oversigt td:first-child {
        width: 70%; /* Adjust the width as needed */
    }

    .besked-oversigt th:nth-child(2),
    .besked-oversigt td:nth-child(2),
    .besked-oversigt th:nth-child(3),
    .besked-oversigt td:nth-child(3) {
        width: 15%; /* Adjust the width as needed */
    }

    .besked-oversigt td {
        text-align: left;
    }

.message-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .message-table th,
    .message-table td {
        padding: 10px;
        text-align: left;
    }

    .message-table th {
        background-color: #f2f2f2;
    }

    .message-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .message-table tbody tr:hover {
        background-color: #e6e6e6;
    }

.BrugerInfoKnap {
    position: relative;
    left: 735px;
    top: -45px;
}
.BelønningInfoKnap {
    position: relative;
    left: 735px;
    top: -35px;
}
/* tabler til vagter */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Tilføjende styling til tabellen */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Tilføjende styling til table head */
thead th {
    background-color: #1b6ec2;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Tilføjende styling til table body */
tbody td {
    padding: 10px;
}