body,
h1,
h3,
th,
td,
button {
    color: white;
}

.besked-oversigt {
    width: 80%;
    margin: 20px auto;
}

    .besked-oversigt th:first-child,
    .besked-oversigt td:first-child {
        width: 70%; /* Adjust the width as needed */
    }

    .besked-oversigt th:nth-child(2),
    .besked-oversigt td:nth-child(2),
    .besked-oversigt th:nth-child(3),
    .besked-oversigt td:nth-child(3) {
        width: 15%; /* Adjust the width as needed */
    }

    .besked-oversigt td {
        text-align: left;
    }

.message-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .message-table th,
    .message-table td {
        padding: 10px;
        text-align: left;
    }

    .message-table th {
        background-color: #5F7A75;
    }

    .message-table tbody tr:nth-child(even) {
        background-color: #5F7A75;
    }

    .message-table tbody tr:hover {
        background-color: #e6e6e6;
    }


/* tabler til vagter */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Tilføjende styling til tabellen */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Tilføjende styling til table head */
thead th {
    background-color: #00000036;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.btnTop {
    background-color: #00000036;
}

.btnDisaled {

}

.btnBook {
    padding: 10px 16px;
    background-color: #00000036; /* Set buttons background color to transparent */
    color: #fff;
    border: 1px solid #fff; /* Set buttons border color to white */
    border-radius: 4px;
    cursor: pointer;
    width: 80%; /* Make buttons expand to full width */
    transition: background-color 0.3s ease; /* Add transition effect */
}

    .btnBook:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Set buttons background color on hover */
    }

    .btnBook:active {
        background-color: rgba(255, 255, 255, 0.3); /* Set buttons background color on active */
    }

    b.btnBook {
        margin-top: 8px;
    }

/* Tilføjende styling til table body */
tbody td {
    padding: 10px;
}
