body,
h1,
h3,
th,
td,
button {
    color: white;
}

.Besked-oversigt {
    width: 80%;
    margin: 20px auto;
}

    .Besked-oversigt th:first-child,
    .Besked-oversigt td:first-child {
        width: 70%; 
    }

    .Besked-oversigt th:nth-child(2),
    .Besked-oversigt td:nth-child(2),
    .Besked-oversigt th:nth-child(3),
    .Besked-oversigt td:nth-child(3) {
        width: 15%; 
    }

    .Besked-oversigt td {
        text-align: left;
    }

.message-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .message-table th,
    .message-table td {
        padding: 10px;
        text-align: left;
    }

    .message-table th {
        background-color: #5F7A75;
    }

    .message-table tbody tr:nth-child(even) {
        background-color: #5F7A75;
    }

    .message-table tbody tr:hover {
        background-color: #e6e6e6;
    }


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #00000036;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.btnTop {
    background-color: #00000036;
}

.btnDisabled {
    padding: 10px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 80%;
    transition: background-color 0.3s ease;
}

.btnBook {
    padding: 10px 16px;
    background-color: #00000036; 
    color: #fff;
    border: 1px solid #fff; 
    border-radius: 4px;
    cursor: pointer;
    width: 80%; 
    transition: background-color 0.3s ease;
}

    .btnBook:hover {
        background-color: rgba(255, 255, 255, 0.2); 
    }

    .btnBook:active {
        background-color: rgba(255, 255, 255, 0.3); 
    }

    b.btnBook {
        margin-top: 8px;
    }

tbody td {
    padding: 10px;
}
