.besked-oversigt {
    width: 80%;
    margin: 20px auto;
}

.message-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .message-table th,
    .message-table td {
        padding: 10px;
        text-align: left;
    }

    .message-table th {
        background-color: #f2f2f2;
    }

    .message-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .message-table tbody tr:hover {
        background-color: #e6e6e6;
    }

.BrugerInfoKnap {
    position: relative;
    left: 735px;
    top: -45px;
}