/* cEditContext.css */
/* Reset default styles */
.cEditContext-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cEditContext-container {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cEditContext-form {
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center horizontally */
    color: white; /* Set text color to white */
}

.cEditContext-heading {
    margin-bottom: 20px;
    text-align: center;
}

.cEditContext-centerpage {
    display: grid; /* Use CSS Grid layout */
    place-items: center;
}

.cEditContext-form-container {
    display: grid; /* Use CSS Grid layout */
    grid-gap: 16px;
}

.cEditContext-label {
    margin-bottom: 8px;
    font-weight: bold;
    color: white; /* Set label text color to white */
}

.cEditContext-input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make inputs expand to full width */
    color: #000; /* Set input text color to black */
}

.cEditContext-button {
    padding: 10px 16px;
    background-color:
