@page "/register"
@using MiljøFestivalv2.Shared
@using System.Net.Http.Json
@using Client.Services
@using System.Globalization
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavManager
@inject HttpClient Http

<head>
    <link href="/register.css" rel="stylesheet" />
</head>

<h3>Register</h3>

<EditForm EditContext="@bEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
<div class="container">
    <div>
        <label>Fulde Navn:</label>
        <InputText id="fulde_navn"@bind="bruger.fulde_navn" required />
    </div>
    <div>
        <label>Email:</label>
        <InputText id="email" @bind="bruger.email" required />
    </div>
    <div>
        <label>Telefonnummer:</label>
        <InputText id="telefon_nummer" @bind="bruger.telefon_nummer" required />
    </div>
    <div>
        <label>Fødselsdag:</label>
        <input type="date" @bind="bruger.fødselsdag" required />
    </div>
    <div>
        <label>CPR-nummer:</label>
        <InputText id="cpr_nummer" @bind="bruger.cpr_nummer" required />
    </div>
    <div>
        <label>Brugernavn:</label>
        <InputText id="brugernavn" @bind="bruger.brugernavn" required />
    </div>
    <div>
        <label>Password:</label>
        <InputText id="password" @bind="bruger.password" required />
    </div>
    <button @onclick="Register">Register</button>
    <button @onclick="BackToLogin">Back to Login</button>
</div>
</EditForm>

@code {
    private EditContext bEditContext;
    Bruger bruger = new Bruger();

    protected override void OnInitialized()
    {   
        bEditContext = new EditContext(bruger);
    }

    private void HandleValidSubmit()
    {
        // Implementer registreringslogik her
        // Eksempelvis kan du validere og gemme brugeroplysningerne i en database
        // Efter registrering kan du navigere brugeren til en bekræftelsesside eller login-siden
        NavManager.NavigateTo("/confirmation");
    }




    private void Register()
    {
        HandleValidSubmit();
        // Implementer registreringslogik her
        // Eksempelvis kan du validere og gemme brugeroplysningerne i en database
        // Efter registrering kan du navigere brugeren til en bekræftelsesside eller login-siden
        NavManager.NavigateTo("/confirmation");
    }

    private void BackToLogin()
    {
        NavManager.NavigateTo("/login");
    }
}
