@@ -1,88 +0,0 @@ ﻿ 

body, h3, div, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color:#00000036; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto; 
    color: white; 
}



h3 {
    margin-bottom: 20px;
    text-align: center;
}

.centerpage {
    display: grid; 
    place-items: center;
}

form {
    display: grid; 
    grid-gap: 16px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: white; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    color: #000; 
}

button {
    padding: 10px 16px;
    background-color: #00000080; 
    color: #fff;
    border: 1px solid #fff; 
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease; 
}

    button:hover {
        background-color: rgba(255, 255, 255, 0.2); 
    }

    button:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    button + button {
        margin-top: 8px;
    }
