@page "/register"
@using MiljøFestivalv2.Shared
@using System.Net.Http.Json
@using Client.Services
@using System.Globalization
@inject NavigationManager NavManager
@inject HttpClient Http

<head>
    <link href="/register.css" rel="stylesheet" />
</head>

<h3>Register</h3>

<div class="container">
    <div>
        <label>Fulde Navn:</label>
        <input type="text" @bind="fulde_navn" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" @bind="email" required />
    </div>
    <div>
        <label>Telefonnummer:</label>
        <input type="text" @bind="telefon_nummer" required />
    </div>
    <div>
        <label>Fødselsdag:</label>
        <input type="date" @bind="fødselsdag" required />
    </div>
    <div>
        <label>CPR-nummer:</label>
        <input type="text" @bind="cpr_nummer" required />
    </div>
    <div>
        <label>Brugernavn:</label>
        <input type="text" @bind="brugernavn" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" @bind="password" required />
    </div>
    <button @onclick="Register">Register</button>
    <button @onclick="BackToLogin">Back to Login</button>
</div>

@code {
    private string fulde_navn;
    private string email;
    private int telefon_nummer;
    private DateTime fødselsdag;
    private int cpr_nummer;
    private string brugernavn;
    private string password;

    private void Register()
    {
        // Implementer registreringslogik her
        // Eksempelvis kan du validere og gemme brugeroplysningerne i en database
        // Efter registrering kan du navigere brugeren til en bekræftelsesside eller login-siden
        NavManager.NavigateTo("/confirmation");
    }

    private void BackToLogin()
    {
        NavManager.NavigateTo("/login");
    }
}
