@page "/register"
@using MiljøFestivalv2.Shared
@using System.Net.Http.Json
@using Client.Services
@using System.Globalization
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavManager
@inject HttpClient Http

<head>
    <link href="/register.css" rel="stylesheet" />
</head>

<h3>Register</h3>

<EditForm EditContext="@bEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
<div class="container">
    <div>
        <label>Fulde Navn:</label>
        <input type ="text" @bind="bruger.fulde_navn" required />
    </div>
    <div>
        <label>Email:</label>
        <input type ="text" @bind="bruger.email" required />
    </div>
    <div>
        <label>Telefonnummer:</label>
        <input type ="number" @bind="bruger.telefon_nummer" required />
    </div>
    <div>
        <label>Fødselsdag:</label>
        <input type="date" @bind="bruger.fødselsdag" required />
    </div>
    <div>
        <label>CPR-nummer:</label>
        <input type ="text" @bind="bruger.cpr_nummer" required />
    </div>
    <div>
        <label>Brugernavn:</label>
        <input type ="text" @bind="bruger.brugernavn" required />
    </div>
    <div>
        <label>Password:</label>
        <input type ="text" @bind="bruger.password" required />
    </div>
    <button type="submit">Register</button>
    <button @onclick="BackToLogin">Back to Login</button>
</div>
</EditForm>

@code {
    private EditContext bEditContext;
    Bruger bruger = new Bruger();


    [Inject]
    public IBrugerService BrugerService {get; set;}

    protected override void OnInitialized()
    {   
        bEditContext = new EditContext(bruger);
    }

    private async Task HandleValidSubmit()
    {
        await BrugerService.TilføjBruger(bruger);
        NavManager.NavigateTo("/confirmation");
    }

    private void HåndterFødselsdag(DateOnly NyDato)
    {
        bruger.fødselsdag = NyDato.ToDateTime(TimeOnly.MinValue);
    }

    private void BackToLogin()
    {
        NavManager.NavigateTo("/login");
    }
}
